*{
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position :relative;
    box-shadow: 0 0 20px 9px #845c4c1f;
    border-radius: 30px;
}

.toggle-button{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position:relative

}